<div class="wrapper">
  <h1>ng responsive tools</h1>

  <div class="content">
    <div class="demo-box">
      <h2 class="demo-box__title">Browser</h2>
      <div class="demo-box__content">
        <div class="card" [chromeClass]="'card_active'">
          <i class="fab fa-chrome"></i>
          <div class="card-caption">chrome</div>
        </div>
        <div class="card" [firefoxClass]="'card_active'">
          <i class="fab fa-firefox-browser"></i>
          <div class="card-caption">firefox</div>
        </div>
        <div class="card" [edgeClass]="'card_active'">
          <i class="fab fa-edge"></i>
          <div class="card-caption">edge</div>
        </div>
        <div class="card" [safariClass]="'card_active'">
          <i class="fab fa-safari"></i>
          <div class="card-caption">safari</div>
        </div>
        <div class="card" [operaClass]="'card_active'">
          <i class="fab fa-opera"></i>
          <div class="card-caption">opera</div>
        </div>
      </div>
    </div>

    <div class="demo-box">
      <h2 class="demo-box__title">System</h2>
      <div class="demo-box__content">
        <div class="card" [windowsClass]="'card_active'">
          <i class="fab fa-windows"></i>
          <div class="card-caption">windows</div>
        </div>
        <div class="card" [linuxClass]="'card_active'">
          <i class="fab fa-linux"></i>
          <div class="card-caption">linux</div>
        </div>
        <div class="card" [macClass]="'card_active'">
          <i class="fab fa-apple"></i>
          <div class="card-caption">mac</div>
        </div>
      </div>
    </div>

    <div class="demo-box">
      <h2 class="demo-box__title">Device</h2>
      <div class="demo-box__content">
        <div class="card" [mobileClass]="'card_active'">
          <i class="fas fa-mobile-alt"></i>
          <div class="card-caption">mobile</div>
        </div>
        <div class="card" [tabletClass]="'card_active'">
          <i class="fas fa-tablet-alt"></i>
          <div class="card-caption">tablet</div>
        </div>
        <div class="card" [desktopClass]="'card_active'">
          <i class="fas fa-desktop"></i>
          <div class="card-caption">desktop</div>
        </div>
        <div class="card" [smarttvClass]="'card_active'">
          <i class="fas fa-tv"></i>
          <div class="card-caption">smarttv</div>
        </div>
      </div>
    </div>

    <div class="demo-box">
      <h2 class="demo-box__title">Orientation</h2>
      <div class="demo-box__content">
        <div class="card" [portraitClass]="'card_active'">
          <i class="fas fa-portrait"></i>
          <div class="card-caption">portrait</div>
        </div>
        <div class="card" [landscapeClass]="'card_active'">
          <i class="fas fa-image"></i>
          <div class="card-caption">landscape</div>
        </div>
      </div>
    </div>

    <div class="demo-box">
      <h2 class="demo-box__title">Grid</h2>
      <div class="demo-box__content">
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      
        <div
          [mediaClass]="{
            common: 'col',
            xs: 'col-12',
            sm: 'col-6',
            md: 'col-4',
            lg: 'col-3',
            xl: 'col-1'
          }">
          <div class="col-content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
